* {
        margin: 0;
        padding: 0;
}

body {
 
    background-image: url(../img/snake.png);
    background-color: #b2bd08;
    background-size: 60vmin;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-position: top;
}

.game {

    display: flex;
    justify-content: center;
   
}

#game-board {
    background-color: hsla(0, 0%, 14%);

    width: 60vmin;
    height: 60vmin;

    display: grid;
    grid-template-columns: repeat(21, auto);grid-template-rows: repeat(21, auto);
}

.snake {
    background-color: #6fc355;
}

.food {
    background-color: #d84242;
}

footer {

    display: flex;
    justify-content: center;
    
}

footer a {
    color: #404040;   
   font-size: 18px;
}
